.pio/
.pioenvs/
.venv/
.vscode
.piolibdeps/
.vscode/
*.log
data/wifi.json
results/api_output.xml
results/
hw/~ESP8266_Relay_Control.kicad_sch.lck
hw/_autosave-ESP8266_Relay_Control.kicad_sch
hw/#auto_saved_files#
